//colors
$black: #000000;
$white: #fff;
$gray: #ededed;
$darkgray: #929292;
// border-radius
$brad_s: 9px;
$brad_m: 15px;
// spacers
$space_s: 16px;
$space_m: 32px;
// font-size
$fz_xs: 14px;
$fz_s: 16px;
$fz_m: 24px;
$fz_l: 40px;
